
<form action="/home/ResetPassword" method="post">
    <div class="imgcontainer">
        <img src="~/Content/Images/login.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <div class="c_user_pass">
            <label for="uname"><b>Username</b></label>
            <input type="text" value=@ViewBag.Username name="username" required>

            <br />
            <label for="psw"><b>Old Password</b></label>
            <input type="password" placeholder="Enter Old Password" name="pass" required>

            <br />
            <label for="psw"><b>New Password</b></label>
            <input type="password" placeholder="Enter New Password" name="newPass" required>

        </div>
        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
    <span class="psw"> <a href="#"> Forgot  password?</a></span>
</form>
